
.noticia_tituloShow{
    font-weight: bold;
    padding: 0px;
}
.alert-primary {
    color: var(--color-grisClaro);
    background-color: var(--color-azul);
    border-color: var(--color-grisClaro);
    margin-top: 50px;
}
.noticia_subtituloShow{
    font-family: Quicksand, sans-serif;
    text-align: left;
    padding-bottom: 19px;
    margin: 0px;
}
.parrafoNoticia{
    margin-top: 5px;
    margin-bottom: 3rem;
}

@media(min-width:370px){
    .noticia_tituloShow{
        font-size: 18px;
    }
    .noticia_subtituloShow{
        padding: 0px;
        font-size: 17px;
        margin-bottom: 33px;
    }
}

@media(min-width:768px){
    .noticia_tituloShow{
        font-size: 19px;
    }
    .noticia_subtituloShow{
        padding: 0px;
        font-size: 16px;
    }
}

@media(min-width:1024px){
    .noticia_tituloShow{
        font-size: 26px;
    }
    .noticia_subtituloShow{

        font-size: 23px;
    }
    .parrafoNoticia{
        font-size: 20px;
    }
    a:hover {
        color: var(--color-Turquesa);
    }
    
}