/* 
- IMPORTS 
*/
@import url('carrito.css'); 
@import url('productAdd.css');
@import url('productDetalle.css');
@import url('styleCargaDeProductos.css');
@import url('registroUsuarios.css');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Tenali+Ramakrishna&family=Uncial+Antiqua&display=swap" rel="stylesheet"');

/*
- VARIABLES
*/

 :root {
    --color-Turquesa: #00909E;
    --color-grisClaro: #DAE1E7;
    --color-grisOscuro: #666666;
    --color-azul: #142850;
    --color-AzulOceano: #27496D;
    --color-celeste: #1259c3;
}


/*
- GENERAL
*/

* {
    box-sizing: border-box;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: white;
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background-color: var(--color-grisClaro);
    margin-top: 150px;
    
}


/*
- CABECERA
*/

header {
    background-color: var(--color-Turquesa);
    padding: 20px;
    position: fixed;
    z-index: 4;
    top: 0px;
}
.rowTitulologo{
    margin: 0px;
}
header .logo img{  
      
    height: 100%;
    width: 100%;
   /* margin-left: 10px;*/
}
.cabezalAvatar{
    display:none;
    margin:0px;
}
header .avatar{
    border-radius:50%;
    object-fit: cover;
    object-position: top;
}
/*header .cuotas {
    margin: 5px 0;
    align-self: center;
}*/
.logo{
    padding: 0px 0px 0px 5px;
}
.contenedorTiuloPag{
    font-family: 'Uncial Antiqua', cursive;
    padding: 0px;
}
.h1TituloPagina{
    margin: 0px;
    text-align: center;
}
/**/
.bg-light {
    background-color: var(--breakpoint-lg) !important;
    width: 340px;
    padding: 0px;
    border-radius: .25rem;  
}
.contenedorColumNav{
    padding: 0px 0px 0px 5px;
}
.navbar-toggler {
    font-size: 160%;
    padding: 0px;
    line-height: 0;
    background-color: var(--color-grisClaro);
}
.navbar-light .navbar-nav .nav-link {
    color: black;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: white;
}
.contBuscadorMd{
    display: none;
}
/**/
.rowBtnBarraIcon{
    margin: 10px 0px 0px 0px;
}


.contBuscador{
    padding: 0px;
}

header form {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    /*background-color: white;
    border: 1px solid var(--color-grisClaro);
    border-radius: 5px;
    padding: 0px 8px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;*/
}

header form input {
    border: solid 1px var(--color-grisClaro);
    display: block;
    width: 100%;
    padding: 7px 35px 7px 7px;
    border-radius: 5px;
    height: 40px;
    font-size: 1.5em;
    font-family: inherit;
    /*background: none;
    border: 0;
    width: 85%;
    margin: 5px 0px;
    padding-right: 5px;
    border-right: 2px solid var(--color-grisClaro);*/
}

header form input:focus,
form button:focus {
    outline: none;
}

header form button {
    position: absolute;
    right: 2px;
    height: 60%;
    background-color: white;
    border: none;
    border-left: solid 1px var(--color-grisClaro);
    color: var(--color-grisOscuro);
    cursor: pointer;

}

header .cuotas {
    margin: 20px 0;
    align-self: center;
}
/*
 - BANNER
*/

.banner img {
    width: 100%;
    display: none;
    
}


/*
- PRODUCTOS
*/

.productos {
    display: flex;
    flex-wrap: wrap;
}
h2{
    font-family: 'Uncial Antiqua', cursive;
}

.btnAgregarCarrito{
    margin: -10px  auto;  
    border-radius: 25px;
}

section .titulo h2 {
    text-align: center;
    font-size: 26;
    color: var(--color-grisOscuro);
    padding: 30px;    
}

section .contenido {
    background-color: white;
    margin-bottom: 30px;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    height: 620px;
}

section .contenido figure img {
    width: 80%;
     /* border-radius: 5%;  */
    margin-top: 10px; 
}

/*section article {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid var(--color-grisClaro);
    padding: 20px;
    position: relative;*/
    /*height: 180px;*/
/*}*/
/*modificacion*/
section .classArtIndex{
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid var(--color-grisClaro);
    padding: 20px;
    position: relative;    
}
section article span {
    color: var(--color-AzulOceano);
    display: flex;
    align-items: center;
    margin-left: 10px;
}
/*section article p{
   
font-family: 'Quicksand', sans-serif;
    font-size: 14px;
}*/
.parrafoArt0{
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;    
}
.Xbox {
    color: var(--color-AzulOceano);
    background-color: white;
    border: 1px solid var(--color-AzulOceano);
    padding: 10px;
    border-radius: 50%;
    font-size: 24px;
    position: absolute;
    top: -22px;
    right: 20px;
}

.playStation{
    color: var(--color-Turquesa);
    background-color: white;
    border: 1px solid var(--color-AzulOceano);
    padding: 10px;
    border-radius: 50%;
    font-size: 24px;
    position: absolute;
    top:-22px;    
}

/*
FOOTER
*/

.footer {
    padding: 20px;
    background-color: #142850;
}

.footer article {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.footer article i {
    font-size: 35px;
    color: var(--color-Turquesa);
    display: flex;
    margin: 10px 0;
}

.footer article h4{
    color: var(--color-grisClaro);
    display: flex;
    margin: 20px 0;
}


.footer article p {
    color: var(--color-grisClaro);
    display: flex;
    margin: 10px 0;
}

.redes{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.redes i{
    text-align: center;    
    padding: 5px;
    font-size: 28;
    color: var(--color-Turquesa);        
    /* flex-wrap: wrap; */
}

.copyright {    
    text-align: center;    
    
    color:var(--color-azul);
    font-size: 22px;
    
}


@media(min-width:425px){
    section .contenido {        
        height: 677px;
    }
}


/* --- VERSION PARA TABLET --- */

@media(min-width:768px) {
    header .avatar{
        margin-top: -9px;
    }
    .cabezalAvatar{
        display:flex;
    }
    .nombreApelluser{
        display: none;
    }

    .contBuscador {
        display: none;
    }
    .contBuscadorMd{
        display: block;
        padding-left: 0px;
        padding-right: 20px;
    }
    .bg-light {
        width: 100%;
    }
    li{
        display: ruby;
    }

}


/* --- VERSION PARA ESCRITORIO --- */

@media(min-width:992px) {
    .cabezalAvatar {
        padding: 0px;
    }

    .contBuscadorMd {
        margin-left: 0px;
        padding-top: 0px;
    }
    li {
        font-size: 134%;
    }
    svg {
        vertical-align: 0px;
    }
    .nombreApelluser{
        display: flex;
        margin-right: 8px;
        margin-bottom: 17px;
    }

    @media(min-width:1024px){
        section .contenido {        
            height: 550px;
        }
    }


}

